Flows/flows.json
[{"id":"3f1618bb.29efb8","type":"tab","label":"RFID Tag","disabled":false,"info":""},{"id":"3d6a7e1b.a12c52","type":"tab","label":"Distance and GPS","disabled":false,"info":""},{"id":"d10f05a7.15b558","type":"tab","label":"pulse sensor","disabled":false,"info":""},{"id":"f5b5a720.4f0988","type":"tab","label":"body temperature","disabled":false,"info":""},{"id":"243d5f92.9719e","type":"ui_base","z":0,"theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#137c61","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#137c61","edited":true},"page-titlebar-backgroundColor":{"value":"#137c61","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#1dbe95","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#137c61","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4b8a5f3.5d152a","type":"ui_group","z":"","name":"Heart Pulse","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"132bc67d.f8a25a","type":"ui_spacer","z":0,"name":"spacer","group":"","order":1,"width":"6","height":"7"},{"id":"a9e8ffd.bd60c","type":"ui_spacer","z":0,"name":"spacer","group":"4b8a5f3.5d152a","order":1,"width":1,"height":1},{"id":"40f85294.d63abc","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"AC0d537afeba4762328bf0cfadaef5039c","from":"+12029310761"},{"id":"ea7ebdec.96c79","type":"ui_spacer","name":"spacer","group":"","order":2,"width":"1","height":"1"},{"id":"7edfe7c6.529d88","type":"twilio-api","z":"","name":"sent msg","sid":"AC1bcfb173073d806e6e1716f329cb2068","from":"+12025195905"},{"id":"ac2a318e.ccfb","type":"ui_group","z":"","name":"ESP8266 Sensors","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"46558de8.41c8d4","type":"ui_group","z":"","name":"MQ9","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"b06ff4b4.700be8","type":"ui_spacer","name":"spacer","group":"46558de8.41c8d4","order":5,"width":1,"height":1},{"id":"ba32d698.577718","type":"ui_spacer","name":"spacer","group":"46558de8.41c8d4","order":5,"width":1,"height":1},{"id":"f4949ffd.9edd","type":"ui_spacer","name":"spacer","group":"46558de8.41c8d4","order":5,"width":1,"height":1},{"id":"d327133b.2fd35","type":"ui_spacer","name":"spacer","group":"46558de8.41c8d4","order":5,"width":1,"height":1},{"id":"3a4f249.2b35cdc","type":"ui_spacer","name":"spacer","group":"46558de8.41c8d4","order":5,"width":1,"height":1},{"id":"4a48ba9.4960a44","type":"ui_spacer","name":"spacer","group":"46558de8.41c8d4","order":5,"width":1,"height":1},{"id":"5f5c1cb1.597184","type":"ui_spacer","name":"spacer","group":"ac2a318e.ccfb","order":1,"width":1,"height":1},{"id":"f8f52009.6d516","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"ACd28217278cf735e0901b03941cf60fd9","from":"+17402245790"},{"id":"104bef06.ec7b91","type":"ui_group","z":"","name":"Recent data","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"dd520913.7a4218","type":"ui_group","z":"","name":"Quantity","tab":"","order":1,"disp":true,"width":14,"collapse":false},{"id":"d0ddce92.aa3c8","type":"twilio-api","z":"","name":"sent msg","sid":"AC1bcfb173073d806e6e1716f329cb2068","from":"+12025195905"},{"id":"22086e9.7e7e592","type":"ui_group","z":"","name":"Heart Pulse","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"d458d31e.5fa6e","type":"ui_group","z":"","name":"Temperature","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"3ab72bda.637314","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"2aecef88.dbd37","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"AC0d537afeba4762328bf0cfadaef5039c","from":"+12029310761"},{"id":"bd39b8cf.2bf7f8","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":1,"width":4,"height":1},{"id":"ab556a1b.fcda08","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":3,"width":5,"height":1},{"id":"ddaa4997.af7668","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":4,"width":4,"height":1},{"id":"e4b2e724.b74cd8","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":5,"width":5,"height":1},{"id":"5b1ac0c4.a9cac","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":6,"width":4,"height":1},{"id":"7f726582.34c8dc","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":7,"width":5,"height":1},{"id":"bd4d0f32.8e23a","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":8,"width":4,"height":1},{"id":"6a60ef51.5568b","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":9,"width":5,"height":1},{"id":"47a93121.c1cc6","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":10,"width":4,"height":1},{"id":"e4885192.9ea9d","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":11,"width":5,"height":1},{"id":"9dc75e7e.2f176","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":12,"width":4,"height":1},{"id":"e5527538.553a28","type":"ui_spacer","name":"spacer","group":"22086e9.7e7e592","order":13,"width":5,"height":1},{"id":"ed183d2b.2d3bf","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":1,"width":1,"height":1},{"id":"5116a4b3.68bacc","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":4,"width":1,"height":1},{"id":"33bfb320.2f296c","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":5,"width":1,"height":1},{"id":"887631d6.35b81","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":6,"width":1,"height":1},{"id":"7fa3b989.552948","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":7,"width":1,"height":1},{"id":"666f9f24.0e697","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":8,"width":1,"height":1},{"id":"43cd86b4.bf8c38","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":9,"width":1,"height":1},{"id":"1aae4c.712f81b5","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":10,"width":1,"height":1},{"id":"4df0901d.01418","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":11,"width":1,"height":1},{"id":"37eedaf4.d195a6","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":12,"width":1,"height":1},{"id":"d63f4d58.6c361","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":13,"width":1,"height":1},{"id":"d1fcea60.881d38","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":14,"width":1,"height":1},{"id":"b06c756f.af3688","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":15,"width":1,"height":1},{"id":"9cea1d42.6bfe3","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":18,"width":1,"height":1},{"id":"439f7ed3.2362","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":19,"width":1,"height":1},{"id":"1a10598b.b09b06","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":20,"width":1,"height":1},{"id":"81f8f3b1.6df76","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":21,"width":1,"height":1},{"id":"5e23ef8c.37ecd","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":22,"width":1,"height":1},{"id":"c8a78e2f.31544","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":23,"width":1,"height":1},{"id":"71a99bce.e9b894","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":24,"width":1,"height":1},{"id":"bfc9280d.cef9b8","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":25,"width":1,"height":1},{"id":"9f9b16a4.57e9d8","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":26,"width":1,"height":1},{"id":"8fdf075f.8a74e8","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":27,"width":1,"height":1},{"id":"f9f7add3.6d70a","type":"ui_spacer","name":"spacer","group":"dd520913.7a4218","order":28,"width":1,"height":1},{"id":"59cb1060.6d38e","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":1,"width":1,"height":1},{"id":"18e05b72.a08d85","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":3,"width":1,"height":1},{"id":"10f4f8a4.ae3137","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":5,"width":2,"height":1},{"id":"14a0aa3a.537b16","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":6,"width":1,"height":1},{"id":"3a66f67d.2ae69a","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":7,"width":1,"height":1},{"id":"5d2e34e8.73d15c","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":8,"width":2,"height":1},{"id":"2eca2493.d6e14c","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":9,"width":1,"height":1},{"id":"687fe437.cf1b8c","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":10,"width":1,"height":1},{"id":"6ccc3e55.86ef2","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":11,"width":2,"height":1},{"id":"d72307a7.4a9bf8","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":12,"width":1,"height":1},{"id":"f7580a99.778548","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":13,"width":1,"height":1},{"id":"4367a2c6.f6184c","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":14,"width":2,"height":1},{"id":"16ffc346.69625d","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":15,"width":1,"height":1},{"id":"f6542f47.a273e","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":16,"width":1,"height":1},{"id":"e5a7160a.336da8","type":"ui_spacer","name":"spacer","group":"104bef06.ec7b91","order":17,"width":2,"height":1},{"id":"ad11df7e.18ce","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":1,"width":1,"height":1},{"id":"92df284.2d110d8","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":3,"width":1,"height":1},{"id":"1797c968.3fd537","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":4,"width":1,"height":1},{"id":"c5dbcbb6.fe2248","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":5,"width":1,"height":1},{"id":"977d6a8a.ca8528","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":6,"width":1,"height":1},{"id":"bb39c9d3.834968","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":7,"width":1,"height":1},{"id":"c84099c8.401898","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":8,"width":1,"height":1},{"id":"151432cd.c5a27d","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":9,"width":1,"height":1},{"id":"b8815ecb.f2b56","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":10,"width":1,"height":1},{"id":"55d669f1.30cfb8","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":11,"width":1,"height":1},{"id":"363065b7.9817fa","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":12,"width":1,"height":1},{"id":"6f9ce819.860e58","type":"ui_spacer","name":"spacer","group":"d458d31e.5fa6e","order":13,"width":1,"height":1},{"id":"d1e45510.c00488","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":1,"width":1,"height":1},{"id":"b54096b.4e82c68","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":3,"width":1,"height":1},{"id":"5036e715.bd7578","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":4,"width":1,"height":1},{"id":"2fb514ea.7ff94c","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":5,"width":1,"height":1},{"id":"7c29e207.d8327c","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":6,"width":1,"height":1},{"id":"9ed1559a.fc43e8","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":7,"width":1,"height":1},{"id":"512eb968.5bd088","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":8,"width":1,"height":1},{"id":"87b8ac91.06965","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":9,"width":1,"height":1},{"id":"fcdc5454.977938","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":10,"width":1,"height":1},{"id":"14d710e0.52d40f","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":11,"width":1,"height":1},{"id":"643a4f18.fec4d","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":12,"width":1,"height":1},{"id":"40bf6e61.63542","type":"ui_spacer","name":"spacer","group":"3ab72bda.637314","order":13,"width":1,"height":1},{"id":"a261f7d2.7f1808","type":"ui_group","z":"","name":"ESP8266 Sensors","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c872a3e1.11d35","type":"ui_group","z":"","name":"MQ9","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"5f868e0.d01b374","type":"ui_spacer","name":"spacer","group":"c872a3e1.11d35","order":5,"width":1,"height":1},{"id":"4ef9b507.97383c","type":"ui_spacer","name":"spacer","group":"c872a3e1.11d35","order":5,"width":1,"height":1},{"id":"e5ba0d5d.92301","type":"ui_spacer","name":"spacer","group":"c872a3e1.11d35","order":5,"width":1,"height":1},{"id":"b44f141.02f40e8","type":"ui_spacer","name":"spacer","group":"c872a3e1.11d35","order":5,"width":1,"height":1},{"id":"9d2224e8.1c3cd8","type":"ui_spacer","name":"spacer","group":"c872a3e1.11d35","order":5,"width":1,"height":1},{"id":"75fa45c7.c3bc9c","type":"ui_spacer","name":"spacer","group":"c872a3e1.11d35","order":5,"width":1,"height":1},{"id":"5b257d68.9faae4","type":"ui_spacer","name":"spacer","group":"a261f7d2.7f1808","order":1,"width":1,"height":1},{"id":"4c5ecf24.8cd5","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"ACd28217278cf735e0901b03941cf60fd9","from":"+17402245790"},{"id":"9d0204af.fad548","type":"ibmiot","z":"","name":"dev02","keepalive":"60","serverName":"c7zewb.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"91771080.c5eff","type":"cloudant","z":"","host":"https://16ad429e-9d49-4534-afa9-7955a9981991-bluemix:b95ca428fb2cd18ae9106e393f14eb7c45d82fd58bb53c5a04f821607b0e268e@16ad429e-9d49-4534-afa9-7955a9981991-bluemix.cloudant.com","name":"cloudant-xh"},{"id":"39a3c06f.d322e","type":"ui_group","z":"","name":"Distance maintained","tab":"537dfcf6.9b9e34","order":1,"disp":true,"width":"16","collapse":false},{"id":"422e2157.cdd13","type":"ibmiot","z":"","name":"dev02 api","keepalive":"60","serverName":"ngib7e.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"a965ffa6.26e09","type":"ui_group","z":"","name":"Quantity","tab":"","order":1,"disp":true,"width":14,"collapse":false},{"id":"74bf9740.73b8e8","type":"twilio-api","z":"","name":"sent msg","sid":"AC1bcfb173073d806e6e1716f329cb2068","from":"+12025195905"},{"id":"5d35f102.82b8e","type":"wiotp-credentials","z":"","name":"","org":"ngib7e","serverName":"ngib7e.messaging.internetofthings.ibmcloud.com","devType":"ESP8266","devId":"dev04","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"537dfcf6.9b9e34","type":"ui_tab","z":"","name":"Distance","icon":"log","order":3,"disabled":false,"hidden":false},{"id":"cbbb1a3f.caa868","type":"wiotp-credentials","z":"","name":"","org":"f0y8bo","serverName":"f0y8bo.messaging.internetofthings.ibmcloud.com","devType":"Esp8266","devId":"dev01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"d0d9f539.0e0ef8","type":"cloudant","z":"","host":"https://16ad429e-9d49-4534-afa9-7955a9981991-bluemix:b95ca428fb2cd18ae9106e393f14eb7c45d82fd58bb53c5a04f821607b0e268e@16ad429e-9d49-4534-afa9-7955a9981991-bluemix.cloudant.com","name":"cloudant-xh"},{"id":"96bab91c.19fc78","type":"ui_group","z":"","name":"Heart Pulse","tab":"cba3c25d.09a21","order":1,"disp":true,"width":"15","collapse":false},{"id":"5067da2c.b90254","type":"ui_group","z":"","name":"Celsius","tab":"e827f4ad.66d608","order":1,"disp":true,"width":10,"collapse":false},{"id":"a7ec86c2.bb2088","type":"ui_group","z":"","name":"Fahrenheit","tab":"e827f4ad.66d608","order":2,"disp":true,"width":10,"collapse":false},{"id":"90ea04cf.315d88","type":"twilio-api","z":"","name":"Sms alert to admin","sid":"ACd28217278cf735e0901b03941cf60fd9","from":"+17402245790"},{"id":"75231684.d5fb38","type":"ibmiot","z":"","name":"IoT","keepalive":"60","serverName":"ngib7e.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cba3c25d.09a21","type":"ui_tab","z":"","name":"Pulse Rate","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e827f4ad.66d608","type":"ui_tab","z":"","name":"Body Temperature","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"ce7b841f.633128","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":1,"width":4,"height":1},{"id":"34bcfca.e6b0804","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":3,"width":5,"height":1},{"id":"6c9caf43.ec676","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":4,"width":4,"height":1},{"id":"70fc603e.e5722","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":5,"width":5,"height":1},{"id":"39a12c4c.4a3904","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":6,"width":4,"height":1},{"id":"690fa241.3c857c","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":7,"width":5,"height":1},{"id":"56d0a40d.a533ec","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":8,"width":4,"height":1},{"id":"7bf6871.b924178","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":9,"width":5,"height":1},{"id":"316dc8c0.d2ea48","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":10,"width":4,"height":1},{"id":"e35ea72.c06d558","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":11,"width":5,"height":1},{"id":"b5d7a68.ff31658","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":12,"width":4,"height":1},{"id":"762e00e7.16f69","type":"ui_spacer","name":"spacer","group":"96bab91c.19fc78","order":13,"width":5,"height":1},{"id":"8b165acb.e982d8","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":1,"width":1,"height":1},{"id":"62f8be9d.74829","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":4,"width":1,"height":1},{"id":"cc07184c.070ac8","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":5,"width":1,"height":1},{"id":"36528132.248ece","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":6,"width":1,"height":1},{"id":"56c89b59.e43564","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":7,"width":1,"height":1},{"id":"2b73ac5.576aa54","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":8,"width":1,"height":1},{"id":"90022b89.6b3e28","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":9,"width":1,"height":1},{"id":"1db5211e.e33d2f","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":10,"width":1,"height":1},{"id":"7c2ba3e3.bdb3ac","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":11,"width":1,"height":1},{"id":"a6c01b8f.169328","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":12,"width":1,"height":1},{"id":"c4421c3d.8f4ff","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":13,"width":1,"height":1},{"id":"ebac6512.70fb38","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":14,"width":1,"height":1},{"id":"3b53802a.408a1","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":15,"width":1,"height":1},{"id":"bcddd2d8.87e15","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":18,"width":1,"height":1},{"id":"aa75dc5c.4d24a","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":19,"width":1,"height":1},{"id":"e057d3ee.1f545","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":20,"width":1,"height":1},{"id":"737a2c73.3c93a4","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":21,"width":1,"height":1},{"id":"89526635.764dd8","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":22,"width":1,"height":1},{"id":"4770b17b.699b6","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":23,"width":1,"height":1},{"id":"323a23f8.feed3c","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":24,"width":1,"height":1},{"id":"ea17333e.d11ef","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":25,"width":1,"height":1},{"id":"99262882.7d82a8","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":26,"width":1,"height":1},{"id":"a2b28f3.29eab7","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":27,"width":1,"height":1},{"id":"2bcacf72.63423","type":"ui_spacer","name":"spacer","group":"a965ffa6.26e09","order":28,"width":1,"height":1},{"id":"6683bc8f.5e1424","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":1,"width":1,"height":1},{"id":"d5c5ff31.438ee","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":3,"width":1,"height":1},{"id":"a2a54e24.2402c","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":5,"width":2,"height":1},{"id":"aaa7bfbb.e3c2a","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":6,"width":1,"height":1},{"id":"c4e40f9a.09104","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":7,"width":1,"height":1},{"id":"d4568574.55adf8","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":8,"width":2,"height":1},{"id":"7290a30.2fe845c","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":9,"width":1,"height":1},{"id":"d391b402.091408","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":10,"width":1,"height":1},{"id":"5e16e915.fe63b8","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":11,"width":2,"height":1},{"id":"36669978.8c9ec6","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":12,"width":1,"height":1},{"id":"c2397d54.d0388","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":13,"width":1,"height":1},{"id":"6766c527.0b4f6c","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":14,"width":2,"height":1},{"id":"36214b.d360eeb6","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":15,"width":1,"height":1},{"id":"4349b248.ef815c","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":16,"width":1,"height":1},{"id":"8d30419d.12b62","type":"ui_spacer","name":"spacer","group":"39a3c06f.d322e","order":17,"width":2,"height":1},{"id":"23541dfa.9e4a12","type":"ui_link","z":"","name":"COVID Statistics ","link":"https://www.google.com/search?q=covid+cases&rlz=1C1RLNS_enIN803IN803&oq=covid+cases&aqs=chrome..69i57j0l7.6347j0j7&sourceid=chrome&ie=UTF-8","icon":"open_in_browser","target":"newtab","order":6},{"id":"8ee04ea4.6371b","type":"ui_group","z":"","name":"Life Expectancy","tab":"3ad8555d.87e8ba","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ad8555d.87e8ba","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8698a53e.60bc48","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"48407432.651e5c","type":"ui_tab","z":"","name":"Home","icon":"Log","disabled":false,"hidden":false},{"id":"e82589b4.be5838","type":"ui_tab","z":"","name":"Home","icon":"log","disabled":false,"hidden":false},{"id":"167a5435.e21b2c","type":"ui_group","z":"","name":"Default","tab":"e82589b4.be5838","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e98a0de.25739","type":"ui_group","z":"","name":"Time Log","tab":"d09583ee.56c57","order":2,"disp":true,"width":"16","collapse":false},{"id":"d09583ee.56c57","type":"ui_tab","z":"","name":"Time Log","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9c275d3d.87dae","type":"debug","z":"3f1618bb.29efb8","name":"msg with values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":160,"wires":[]},{"id":"79555d95.f648a4","type":"function","z":"3f1618bb.29efb8","name":"retrieve data","func":" msg.payload.time = new Date().getTime();\n msg.payload.deviceId = msg.deviceId;\n return msg;","outputs":1,"noerr":0,"x":230,"y":680,"wires":[["79f5cc11.926524"]]},{"id":"79f5cc11.926524","type":"cloudant out","z":"3f1618bb.29efb8","name":"to_watson","cloudant":"","database":"dev02-db","service":"node-red-tmran-cloudant-1589721972621","payonly":true,"operation":"insert","x":410,"y":680,"wires":[]},{"id":"5164b8a4.36ee18","type":"ibmiot in","z":"3f1618bb.29efb8","authentication":"apiKey","apiKey":"9d0204af.fad548","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev02","applicationId":"","deviceType":"esp8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":70,"y":280,"wires":[["9c275d3d.87dae","9c7ad223.39edd"]]},{"id":"11824873.14cee8","type":"function","z":"3f1618bb.29efb8","name":"send data frm db to watson iot","func":"var msgs = [];\nfor (var i =0;i< msg.payload.length;i++){\n    msgs.push({payload: msg.payload[i]});\n    //return({payload: msg.payload[0].d});\n    //return{payload:msgs[0].payload.d};\n   \n}\nreturn [msgs];\n","outputs":1,"noerr":0,"x":570,"y":780,"wires":[[]]},{"id":"ba8531f5.0d3d7","type":"cloudant in","z":"3f1618bb.29efb8","name":"","cloudant":"91771080.c5eff","database":"dev02-db","service":"node-red-tmran-cloudant-1589721972621","search":"_all_","design":"","index":"","x":280,"y":800,"wires":[["11824873.14cee8"]]},{"id":"15fcbc2a.4b0544","type":"change","z":"3d6a7e1b.a12c52","name":"Chart distance","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.distance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["5aa6e79d.7c36d8","35ac7d4.fde7782","1daeef13.724421"]]},{"id":"8115e0e1.57b1b","type":"switch","z":"3d6a7e1b.a12c52","name":"Warn on High Values","property":"payload.d.distance","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":160,"wires":[["4daa934b.080c5c"]]},{"id":"1daeef13.724421","type":"ui_chart","z":"3d6a7e1b.a12c52","name":"","group":"39a3c06f.d322e","order":4,"width":"8","height":5,"label":"distance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":80,"wires":[[]]},{"id":"89632c2c.2777d","type":"ui_toast","z":"3d6a7e1b.a12c52","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":820,"y":160,"wires":[]},{"id":"5aa6e79d.7c36d8","type":"ui_gauge","z":"3d6a7e1b.a12c52","name":"","group":"39a3c06f.d322e","order":2,"width":5,"height":5,"gtype":"compass","title":"gauge","label":"cm","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":630,"y":120,"wires":[]},{"id":"4daa934b.080c5c","type":"template","z":"3d6a7e1b.a12c52","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical distance Detected latitude: {{payload.d.lat}}\nlongitude : {{payload.d.lng}}","output":"str","x":620,"y":160,"wires":[["89632c2c.2777d"]]},{"id":"35ac7d4.fde7782","type":"debug","z":"3d6a7e1b.a12c52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":40,"wires":[]},{"id":"195af57e.c8658b","type":"function","z":"3d6a7e1b.a12c52","name":"store data","func":"msg.payload.d = {\n        time:    new Date().getTime(),\n        distance: msg.payload.d.distance,\n        gas:msg.payload.d.gas,\n        ratio:msg.payload.d.ratio,\n        lat:msg.payload.d.lat,\n        lng:msg.payload.d.lng,\n        \n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["dc044b8c.2ce3f8"]]},{"id":"dc044b8c.2ce3f8","type":"cloudant out","z":"3d6a7e1b.a12c52","name":"","cloudant":"","database":"device3","service":"node-red-tmran-cloudant-1589721972621","payonly":true,"operation":"insert","x":620,"y":480,"wires":[]},{"id":"4aa41b20.aaeac4","type":"wiotp out","z":"3d6a7e1b.a12c52","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5d35f102.82b8e","deviceType":"","deviceId":"","event":"data to wiot","format":"json","qos":"","name":"distance device","x":820,"y":680,"wires":[]},{"id":"4e2bdfb1.c95ce","type":"function","z":"3d6a7e1b.a12c52","name":"Format Time Series DB record","func":"msg.payload.d = {\n        time:    new Date().getTime(),\n        distance: msg.payload.d.distance,\n        gas:msg.payload.d.gas,\n        ratio:msg.payload.d.ratio,\n        lat:msg.payload.d.lat,\n        lng:msg.payload.d.lng,\n        \n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[[]]},{"id":"58b400b9.1ed88","type":"cloudant out","z":"3d6a7e1b.a12c52","name":"","cloudant":"","database":"device3","service":"node-red-tmran-cloudant-1589721972621","payonly":true,"operation":"insert","x":740,"y":600,"wires":[]},{"id":"30f7824d.9fb4ae","type":"inject","z":"3d6a7e1b.a12c52","name":"","topic":"","payload":"","payloadType":"date","repeat":"25200","crontab":"","once":false,"onceDelay":"10","x":230,"y":760,"wires":[["275e209f.13ce6"]]},{"id":"275e209f.13ce6","type":"cloudant in","z":"3d6a7e1b.a12c52","name":"","cloudant":"","database":"device3","service":"node-red-tmran-cloudant-1589721972621","search":"_all_","design":"","index":"","x":400,"y":760,"wires":[["6338cb4c.926e24"]]},{"id":"49292ebd.b7e63","type":"comment","z":"3d6a7e1b.a12c52","name":"to the database","info":"","x":440,"y":640,"wires":[]},{"id":"a7854f94.3d67e","type":"comment","z":"3d6a7e1b.a12c52","name":"data to the watson iot","info":"","x":440,"y":680,"wires":[]},{"id":"48f3adae.0a5654","type":"debug","z":"3d6a7e1b.a12c52","name":"dev03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":760,"wires":[]},{"id":"6338cb4c.926e24","type":"function","z":"3d6a7e1b.a12c52","name":"get data","func":"var msgs = [];\nfor (var i =0;i< msg.payload.length;i++){\n    msgs.push({payload: msg.payload[i]});\n    //return({payload: msg.payload[0].d});\n    //return{payload:msgs[0].payload.d};\n   \n}\nreturn [msgs];\n","outputs":1,"noerr":0,"x":560,"y":760,"wires":[["48f3adae.0a5654"]]},{"id":"5648dafb.b10ae4","type":"debug","z":"d10f05a7.15b558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":100,"wires":[]},{"id":"fc3ea3ee.62ce7","type":"change","z":"d10f05a7.15b558","name":"Heart Pulse","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.heart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["776d64a2.91f7bc"]]},{"id":"7d10aa27.112e44","type":"switch","z":"d10f05a7.15b558","name":"warn on  BPM","property":"payload.d.heart","propertyType":"msg","rules":[{"t":"btwn","v":"30","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"120","vt":"num","v2":"150","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":300,"wires":[["6df295da.4bc69c"],["a87e254a.1d0578"]]},{"id":"6df295da.4bc69c","type":"template","z":"d10f05a7.15b558","name":"Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Low BPM detected : {{payload.d.heart}}","output":"str","x":630,"y":260,"wires":[["90b874f8.532f28","9a8e53d7.a6ac8","715e457d.9f6cbc"]]},{"id":"de62039d.22061","type":"function","z":"d10f05a7.15b558","name":"retrieve data","func":" msg.payload.time = new Date().getTime();\n msg.payload.deviceId = msg.deviceId;\n return msg;","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["779e4988.a56e18"]]},{"id":"779e4988.a56e18","type":"cloudant out","z":"d10f05a7.15b558","name":"store data","cloudant":"","database":"store1","service":"node-red-tmran-cloudant-1589721972621","payonly":true,"operation":"insert","x":640,"y":40,"wires":[]},{"id":"89331842.14da48","type":"function","z":"d10f05a7.15b558","name":"send data frm db to watson iot","func":"var msgs = [];\nfor (var i =0;i< msg.payload.length;i++){\n    msgs.push({payload: msg.payload[i]});\n    //return({payload: msg.payload[0].d});\n    //return{payload:msgs[0].payload.d};\n   \n}\nreturn [msgs];\n","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["10c28f66.73cd71"]]},{"id":"cd13a267.b0061","type":"wiotp out","z":"d10f05a7.15b558","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"cbbb1a3f.caa868","deviceType":"","deviceId":"","event":"sensor data","format":"json","qos":"0","name":"","x":890,"y":540,"wires":[]},{"id":"eb7a675e.ca8448","type":"cloudant in","z":"d10f05a7.15b558","name":"","cloudant":"d0d9f539.0e0ef8","database":"store1","service":"node-red-tmran-cloudant-1589721972621","search":"_all_","design":"","index":"","x":310,"y":540,"wires":[["89331842.14da48"]]},{"id":"776d64a2.91f7bc","type":"ui_gauge","z":"d10f05a7.15b558","name":"","group":"96bab91c.19fc78","order":2,"width":6,"height":6,"gtype":"compass","title":"BPM","label":"BPM","format":"{{value}}","min":"0","max":"200","colors":["#c60f00","#0bdb0b","#4aed14"],"seg1":"80","seg2":"","x":590,"y":180,"wires":[]},{"id":"90b874f8.532f28","type":"ui_toast","z":"d10f05a7.15b558","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":920,"y":260,"wires":[]},{"id":"a87e254a.1d0578","type":"template","z":"d10f05a7.15b558","name":"alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"High BPM detected : {{payload.d.heart}} !","output":"str","x":610,"y":300,"wires":[["751a469c.42fc88"]]},{"id":"751a469c.42fc88","type":"ui_toast","z":"d10f05a7.15b558","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":940,"y":300,"wires":[]},{"id":"da2edf11.5ecdb","type":"inject","z":"d10f05a7.15b558","name":"","topic":"","payload":"","payloadType":"date","repeat":"32400","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["eb7a675e.ca8448"]]},{"id":"10c28f66.73cd71","type":"debug","z":"d10f05a7.15b558","name":"msgsend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":600,"wires":[]},{"id":"9a8e53d7.a6ac8","type":"debug","z":"d10f05a7.15b558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":180,"wires":[]},{"id":"715e457d.9f6cbc","type":"twilio out","z":"d10f05a7.15b558","twilio":"90ea04cf.315d88","twilioType":"sms","url":"","number":"+918848922017","name":"","x":910,"y":220,"wires":[]},{"id":"a2c34492.838c48","type":"ibmiot in","z":"d10f05a7.15b558","authentication":"apiKey","apiKey":"75231684.d5fb38","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev01","applicationId":"","deviceType":"ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":70,"y":200,"wires":[["5648dafb.b10ae4","fc3ea3ee.62ce7","7d10aa27.112e44","8b50040f.cea158"]]},{"id":"1358fa5d.6c6886","type":"ui_chart","z":"d10f05a7.15b558","name":"","group":"96bab91c.19fc78","order":14,"width":0,"height":0,"label":"Recent History","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#09ff05","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":220,"wires":[[]]},{"id":"8b50040f.cea158","type":"change","z":"d10f05a7.15b558","name":"ecggg","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.ecg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["1358fa5d.6c6886"]]},{"id":"bed93cb6.74221","type":"ibmiot in","z":"3d6a7e1b.a12c52","authentication":"apiKey","apiKey":"422e2157.cdd13","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev03","applicationId":"","deviceType":"ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":130,"y":120,"wires":[["15fcbc2a.4b0544","8115e0e1.57b1b"]]},{"id":"4f373879.efe628","type":"ibmiot in","z":"3d6a7e1b.a12c52","authentication":"apiKey","apiKey":"422e2157.cdd13","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev03","applicationId":"","deviceType":"ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":190,"y":600,"wires":[["4e2bdfb1.c95ce"]]},{"id":"d073841.77e1078","type":"inject","z":"f5b5a720.4f0988","name":"send data","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["793f6780.1763e8"]]},{"id":"793f6780.1763e8","type":"function","z":"f5b5a720.4f0988","name":"Device flow","func":"var tempC = [36.1,37.2,37.5,37.8,39.5,40];\n\n\nvar tempF = [97,99,99.5,100.04,103.1,104];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n d:{\n \"celsius\" : tempC[counter1],\n \"fahrenheit\" : tempF[counter1] }\n }\n )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["834e6a91.31d348"]]},{"id":"834e6a91.31d348","type":"wiotp out","z":"f5b5a720.4f0988","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5d35f102.82b8e","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"body temperautre","x":670,"y":140,"wires":[]},{"id":"f3d25d8f.55947","type":"debug","z":"f5b5a720.4f0988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":280,"wires":[]},{"id":"e885f11b.13fad","type":"change","z":"f5b5a720.4f0988","name":"Celsius","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.celsius","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["8a979ebd.62123"]]},{"id":"85412d3c.a7d74","type":"switch","z":"f5b5a720.4f0988","name":"warn on high fever","property":"payload.d.celsius","propertyType":"msg","rules":[{"t":"gte","v":"39.4","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":400,"wires":[["5ca7fa63.697904"]]},{"id":"5ca7fa63.697904","type":"template","z":"f5b5a720.4f0988","name":"Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert :You have a very high fever : {{payload.d.celsius}}\nTake precautions ","output":"str","x":610,"y":400,"wires":[["2ea2ef28.7f93e","a610d0d4.e1a1a","e7b2fb37.d70578"]]},{"id":"2ea2ef28.7f93e","type":"ui_toast","z":"f5b5a720.4f0988","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":800,"y":360,"wires":[]},{"id":"a610d0d4.e1a1a","type":"debug","z":"f5b5a720.4f0988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":280,"wires":[]},{"id":"e7b2fb37.d70578","type":"twilio out","z":"f5b5a720.4f0988","twilio":"90ea04cf.315d88","twilioType":"sms","url":"","number":"+918921335867","name":"alert","x":790,"y":320,"wires":[]},{"id":"8c5e139c.6bd31","type":"ibmiot in","z":"f5b5a720.4f0988","authentication":"apiKey","apiKey":"75231684.d5fb38","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev04","applicationId":"","deviceType":"ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":70,"y":320,"wires":[["f3d25d8f.55947","e885f11b.13fad","85412d3c.a7d74","7ca134da.b2336c","ca4094d6.7769f8","e1cafa14.c2fca8"]]},{"id":"7ca134da.b2336c","type":"change","z":"f5b5a720.4f0988","name":"fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.fahrenheit","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["c028c180.9c52f"]]},{"id":"ca4094d6.7769f8","type":"switch","z":"f5b5a720.4f0988","name":"warn on mild fever","property":"payload.d.celsius","propertyType":"msg","rules":[{"t":"btwn","v":"37.6","vt":"num","v2":"38.3","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":440,"wires":[["dc4ddd2d.00c5c"]]},{"id":"dc4ddd2d.00c5c","type":"template","z":"f5b5a720.4f0988","name":"Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert :You have a mild fever : {{payload.d.celsius}}\nTake precautions","output":"str","x":610,"y":440,"wires":[["e0be8745.024e58","b961b09b.7547a"]]},{"id":"e0be8745.024e58","type":"ui_toast","z":"f5b5a720.4f0988","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":900,"y":440,"wires":[]},{"id":"b961b09b.7547a","type":"twilio out","z":"f5b5a720.4f0988","twilio":"90ea04cf.315d88","twilioType":"sms","url":"","number":"+918921335867","name":"alert","x":870,"y":480,"wires":[]},{"id":"e1cafa14.c2fca8","type":"switch","z":"f5b5a720.4f0988","name":"normal temperature","property":"payload.d.celsius","propertyType":"msg","rules":[{"t":"btwn","v":"36.5","vt":"num","v2":"37.5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":480,"wires":[["b7a4b512.7bdc28"]]},{"id":"b7a4b512.7bdc28","type":"template","z":"f5b5a720.4f0988","name":"Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You are good to Go!!!","output":"str","x":610,"y":480,"wires":[["52231609.48c108"]]},{"id":"52231609.48c108","type":"ui_toast","z":"f5b5a720.4f0988","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":860,"y":520,"wires":[]},{"id":"baeb3f4a.97456","type":"debug","z":"3f1618bb.29efb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":280,"wires":[]},{"id":"9c7ad223.39edd","type":"ui_template","z":"3f1618bb.29efb8","group":"4e98a0de.25739","name":"Two dimension array table","order":1,"width":"14","height":"14","format":"\n<table id=\"table\" border=\"2\">\n <tr>\n <th> RFID </th> \n <th>DATE</th>\n <th>CHECK IN TIME</th>\n <th>CHECK OUT TIME</th>\n \n </tr>\n <tbody>\n  \n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n   </tbody>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":390,"y":280,"wires":[["baeb3f4a.97456"]]},{"id":"c028c180.9c52f","type":"ui_gauge","z":"f5b5a720.4f0988","name":"","group":"a7ec86c2.bb2088","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"{{value}}","min":"90","max":"115","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":360,"wires":[]},{"id":"8a979ebd.62123","type":"ui_gauge","z":"f5b5a720.4f0988","name":"","group":"5067da2c.b90254","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"{{value}}","min":"36","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":320,"wires":[]}]